@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root {
    --container-bg-color: #333;
    --button-text-color: #000;
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 750ms;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}

.lbutton {
    display: none;
}

.rbutton {
    display: none;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url(images/website.jpg) center center no-repeat;
    background-size: cover;
}

.split.right {
    right: 0;
    background: url(images/coding4.jpg) center center no-repeat;
    background-size: cover;
}

.split.left, .split.right, split.left:before, split.right:before {
    transition: var(--speed) all ease-in-out;
}

/* When mouse is on the left side (Website) */

.hover-left .left {
    width: var(--hover-width);
}

/* Adds in color when hovered */

.hover-left .left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--bg-color);
}

.hover-left .lbutton {
    display: block;
    position: absolute;
    background: #FFFAFA;
    color: var(--button-text-color);
    left: 50%;
    top: 40%;
    height: 1.5rem;
    padding-top: .4rem;
    width: 12rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: .3px solid #000;
    transform: translateX(-50%);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-left .right:before {
    z-index: 2;
}

/* When mouse is on the right side (Projects) */

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--bg-color); 
}

.hover-right .rbutton {
    display: block;
    position: absolute;
    background: #FFFAFA;
    color: var(--button-text-color);
    left: 50%;
    top: 40%;
    height: 1.5rem;
    padding-top: .4rem;
    width: 12rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: .3px solid #000;
    transform: translateX(-50%);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left:before {
    z-index: 2;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    .button {
        width: 10rem;
    }
}

@media(max-height: 700px) {
    .button {
        top: 70%
    }
}

















